<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是首頁</h1>
    <a class="btn btn-primary" href="hitoDramaList.html" role="button">熱門總覽頁</a>
    <a class="btn btn-primary" href="newDramaList.html" role="button">新劇總覽頁</a>
    <a class="btn btn-primary" href="dramaInfo.html" role="button">戲劇資訊頁</a>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
